*.dll
*.pdb
*.ini

/_Arc
/Bugs
/!*.txt

/Descript.ion
/Readme.txt
/backup.cmd
/copy_verc0.cmd
/export.gcc.def
/final.32W.vc
/final.64W.vc
/makefile_gcc
/pe.def
/build
/debug
/ver_c0.x86
/ver_c0.x64
/.vs
