*.log
*.bat
*.pdb
*.dll
*.7z
_*.sln
Descript.ion
/src/!*.txt
/_Arc
/_Debug
/_Release
/Profile
/Release.x32A
/Release.x32U
/Release.x32u680
/Release.x32U1007
/src/tests
/src/Resource2.rc
/src/_BlockEditor.dsp
/src/_BlockEditor.dsw
/src/_BlockEditor.vcproj
/src/makefile_gcc_
